*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: inherit;    
    a { color: inherit; text-decoration: none; }
    img { display: block; max-width: 100%; }
    button { font: inherit; cursor: pointer; }
    color: #dddddd;
}

.layout {
    background-color: #121311;
    font-family: 'Satoshi', 'Inter', sans-serif;
    height: 100dvh;  

    display: grid;
    grid-template-rows: 60px auto auto 120px 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header header"
        "hero hero"
        "turn turn"
        "menus menus"
        "gallery gallery"
        "footer footer";
}

/* Header */

header {
    display: flex;      
        align-items: center;
        justify-content: space-between;
    position: sticky;
    top: 0;   
    padding-inline: 5%;
    
    border-bottom: 4px inset #d0a0628a;
    box-shadow: 0 8px 20px rgba(10, 11, 14, 0.4);

    grid-area: header;    
}

    .navbar {
        border-radius: 0.8rem;
        display: flex;
            align-items: center;
            justify-content: end;

        gap: 1.5rem;
        padding: 0.7rem 1rem  ;

        background-color: #2a2e29;
        border: 1px solid #a1a19a;
        

    }

.hero{
    display: flex;
    justify-content: end;
    background-image: url('../images/oli_pic01.jpg');    
    background-color: #00000063;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;    
    background-position-x: -14dvw;
    background-position-y: -14dvw;     
            
    grid-area: hero;    
}
    
    .hero-text{
        display: flex;
        flex-direction: column;
        align-items: end;
        text-align: end;
        max-width: 75%; 
        min-height:200px;  
        padding: 1rem 2rem;
        gap: 1rem;
        background: 
        radial-gradient(circle at 90% 20%, rgba(106, 168, 155, 0.212),  transparent 60%),
        linear-gradient(to left, black 45%, transparent);      
        padding-left: 25%;

        font-size:small;
                
    }
    .turntable{
        grid-area: turn;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-inline: 3rem;
        padding: 2rem;
        background-color: #0c0d0f;
        
        video{max-height:240px; min-height: 150px; width: auto; border-radius: 100%;}
    }


/* Main */
.menu{    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    justify-content:space-evenly;
    padding: 2rem 0;
   
    grid-area: menus;    
    
    background-color: #2a2e29;
        button:hover {transform: scale(1.2);
            width:5rem;
            background-color: #0C6A6E;
        }       
}

.menu button {
    padding: 3px ;
    background-color: #2a2e29;
    border: 1px solid #a1a19a;
    border-radius: 0.8rem;
    width:4rem;
    height: 2.5rem;
     transition: background-color 0.2s ease-out, transform 0.2s ease-out;    
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
grid-area: gallery;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    height: 100%;    
    padding-inline:2rem;
    margin-top: 2rem;   
}
.pagination{
    margin: 1rem;
    a{color:#121311; padding: 5px;}
    button{background-color:#d0a062; 
        border-radius: 8px;
        border: 2px solid #a08b50; 
        :hover{background-color: #d1c6b7;border-radius: 8px; }
    }
}
.img-box {
    background-color: #2a2e29;
    border: 1px solid #a1a19a;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;    
    gap: 0.5rem;
    padding-bottom: 0.5rem;
    
    img:hover {
         transform: scale(2); 
             
    }
}


/* Footer */
.footer{
    font-family: 'Cabinet Grotesk', 'Inter', sans-serif;
    font-size: 12px;

    background: linear-gradient(15deg,#68afb127 0%, #20231f 50%,#d0a06248 100% ); 
    text-transform:capitalize;
    display: flex;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    padding: 1rem ;

    grid-area: footer;   
}
    .footer-icons{
        background-color: inherit;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 1rem;
        padding-left: 1rem;
        i {
            color: #867f75;
        }
        
    }
    
/* Media Queries */

@media (min-width: 576px) {
  /* Styles for mobile devices */
  .layout {
  grid-template-rows: 60px 250px 1fr auto;
  grid-template-columns: 130px 1fr;
  grid-template-areas: 
        "header header"
        "hero hero"
        "turn turn"
        "menus gallery"
        "footer footer";
  }
  .menu {
    
    flex-direction: column;
    padding:2rem;
    justify-content: start;
    border-radius: 1rem;
  }
  .footer{
    font-size: 14px;
  }
  .hero{   
    background-position-y: -20vw;
  }
  .gallery{
    padding-top: 0;
    margin-top: 0;
    grid-template-columns: repeat(2, 1fr);
  }
 
}

@media (min-width:768px){
.hero-text{
   font-size: medium;
}
.gallery{grid-template-columns: repeat(3, 1fr);}
.footer{
    font-size: medium;}
}